.halaman-tambah {
    background-color: #ffffff;
    width: 100%;
    min-width: 1440px;
    min-height: 905px;
    position: relative;
}

/* Background Dekoratif */
.halaman-tambah .o-in-petricord {
    position: absolute;
    top: calc(50% - 198px);
    left: 43.61%;
    width: 37.32%;
    height: 634px;
    aspect-ratio: 1;
    object-fit: cover;
}

.halaman-tambah .img {
    position: absolute;
    top: calc(50% - 372px);
    left: 18.89%;
    width: 21.85%;
    height: 350px;
    aspect-ratio: 1;
    object-fit: cover;
}

/* Logo Header */
.halaman-tambah .logo-petricord {
    position: absolute;
    top: 37px;
    left: 84px;
    width: 144px;
    height: 45px;
}

.halaman-tambah .petric-rd {
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700;
    font-size: 30px;
    color: #000000;
    letter-spacing: 0;
    line-height: normal;
}

.halaman-tambah .o-in-petricord-2 {
    position: absolute;
    top: 16px;
    left: 91px;
    width: 17px;
    height: 17px;
    aspect-ratio: 1;
    object-fit: cover;
}

/* Title & Subtitle */
.halaman-tambah .text-wrapper {
    position: absolute;
    top: 166px;
    left: calc(50% - 228px);
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    font-size: 30px;
    color: #000000;
    text-align: center;
    letter-spacing: 0;
}

.halaman-tambah .div {
    position: absolute;
    top: 226px;
    left: calc(50% - 238px);
    width: 476px;
    font-family: "Poppins-Light", Helvetica;
    font-weight: 300;
    font-size: 20px;
    color: #000000;
    text-align: center;
    letter-spacing: 0;
}

/* Form Profil */
.halaman-tambah .form-profil {
    position: absolute;
    top: 276px;
    left: calc(50% - 250px);
    display: flex;
    align-items: flex-start;
    padding: 36px 24px;
    height: 550px;
    min-width: 500px;
    background-color: #ffffff1a;
    border: none;
    border-radius: 16px;
    backdrop-filter: blur(17.5px) brightness(100%);
    -webkit-backdrop-filter: blur(17.5px) brightness(100%);
}

/* Border Glassmorphism */
.halaman-tambah .form-profil::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 1px;
    border-radius: 16px;
    background: linear-gradient(
        159deg,
        rgba(139, 115, 44, 0.1) 0%,
        rgba(255, 255, 255, 0.1) 100%
    );
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
                   linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) content-box,
          linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
    z-index: 1;
}
